/* RESET CSS */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* INITIAL STYLES */
:root {
  --color-50: #eeefff;
  --color-100: #dfe1ff;
  --color-200: #ccccff;
  --color-300: #a5a3fe;
  --color-400: #8d7ffa;
  --color-500: #7a60f4;
  --color-600: #6d43e8;
  --color-700: #5f35cd;
  --color-800: #4d2ea5;
  --color-900: #412c83;
  --color-950: #271a4c;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-950);
  font-family: "Poppins", sans-serif;
  background-color: var(--color-50);
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
