---
import Nav from "@/components/Nav.astro";
import BaseHead from "./BaseHead.astro";
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/900.css';

import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props}/>
	<body>
    <Nav />
    <main>
      <slot /> 
    </main>
	</body>
</html>
